.list__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.list__card {
    background: var(--trans);
    width: 100%;
    max-width: 90%;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    object-fit: fill;
    object-position: center center;
    max-width: 90%;
    height: 100%;
}

.list__title {
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    img {
        max-width: 100%;
        aspect-ratio: 1/1;
    }

    .list__title {
        font-size: 1.5rem;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .list__card {
        max-width: 100%;
        padding: 0;
    }

    .list__title {
        font-size: 1.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .list__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    img {
        max-width: 50%;
    }

    .list__title {
        font-size: 1.2rem;
    }

    .list__card .green__btn {
        padding: 0.5rem 3rem;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .list__cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .list__cards img {
        max-width: 40%;
    }

    .list__title {
        font-size: 1.2rem;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 300px) {


}