
  nav {
    display: flex;
    justify-content: space-around;
    height: 7rem;
    border-bottom: 1px solid var(--clr-brown);
    align-items: center;
    position: static;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    font-weight: 500;
  }

   li {
    text-transform: uppercase;
    font-family: 'Neucha', cursive;
  }

  .nav__buttons ul {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
  }

  .nav__buttons li {
    color: var(--clr-brown);
    padding: 1rem 1rem;
    font-weight: 700;
    font-size: 20px;
  }

  .nav__logo {
    width: 190px;
  }

  nav a:hover {
    color: var(--clr-ligter-brown)
  }

  .nav__buttons.right-button {
    margin-right: 10rem;

  }

  .drop__down {
    position: relative;
    display: inline-block;
    margin-right: 50px;
  }

  .drop__btn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: none;
  }


  .dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown__content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown__content a:hover {
    background-color: #f1f1f1
  }

  .drop__down:hover .dropdown__content {
    display: block;
  }

  .drop__down:hover .drop__btn {
    background-color: transparent;
  }

  /* ========== MEDIA QUERIES (MEDIUM DEVICES)  ========== */

  @media screen and (max-width: 1024px) {

    .nav__buttons a {
      padding: 0.5rem;
      font-size: 16px;
    }

    .nav__logo {
      margin-left: 6rem;
      width: 150px;
    }
  }


  @media screen and (max-width: 768px) {
    .drop__btn {
      display: block;
      /* Show the button */
    }

    .nav__buttons {
      display: none;
      /* Hide the navigation menu */
    }

    .nav__logo {
      width: 150px;
    }
  }

  @media screen and (max-width: 360px) {

    nav {
      justify-content: space-evenly;
    }

    .nav__logo {
      width: 100px;
    }
  }