@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');


:root {
  --clr-brown: #d0a977;
  --clr-ligter-brown: #e3c7a2;

  --trans: all 400ms ease
}

/* Box sizing border-box by default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles from UL, OL elements */
ul,
ol {
  list-style: none;
}

/* Remove anchor text decoration */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default focus styles */
:focus {
  outline: none;
}

/* Set default font and background color */
body {
  min-height: 100vh;
  background: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}