.catering__images {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.catering__images img {
    max-width: 16%;
    aspect-ratio: 1/1;
}

.img__focus {
    border-radius: 40px;
}
.img__focus:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.23); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.23);
    transform: scale(1.02);
    transition: var(--trans);
    cursor: pointer;
}